body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

input[type="file"],
input[type="submit"],
select {
    margin: 10px;
}

.emoji-grid {
    display: grid;
    grid-gap: 0;
}

.emoji-row {
    display: flex;
}

.emoji-row span {
    display: inline-block;
    min-width: 10px;
    height: 10px;
    text-align: center;
    font-size: 6pt;
    vertical-align: middle;
}

.uploadedImage {
    max-width: 100%;  /* Maximum width of 100% of its container */
    max-height: 80vh; /* Maximum height of 80% of the viewport height */
    display: none;    /* Hide it by default */
    margin: auto;     /* Center the image */
}

/* Styles for the centered container */
.centered-container {
    text-align: center; /* Center-aligns all content within the div */
    margin: 20px 0; /* Adds some vertical margin */
}

/* Styles for the grid size label */
#gridSizeLabel {
    font-size: 16px;
    color: #4CAF50; /* Adjust the color to match your theme */
    margin-bottom: 10px;
    display: none; /* Initially hidden */
}

/* Styles for the grid size dropdown */
.grid-size-select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #4CAF50; /* Border color to match the button */
    font-size: 16px;
    width: auto;
    display: none; /* Initially hidden */
}

/* Styles for the crop button */
.emoji-art-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: none; /* Initially hidden */
}

/* Button hover effect */
.emoji-art-button:hover {
    background-color: #45a049;
}
